*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', sans-serif;
    position: relative;
}

::selection{
    background-color: #87A2FF;
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body{
    overflow-x: hidden;
}

body .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
}


body .tiklamaAlani{
    background-color: rgb(59, 51, 51);
    height: 400px;
    width: 600px;
    cursor: crosshair;
    border-radius: 20px;
}

body .container input[type="text"]{
    outline: 0;
    bottom: 10px;
}


body .controls{
    display: flex;
    gap: 10px;
}

body #warning{
    display: none;
}

body .controls button{
    bottom: 10px;
    width: 100px;
    background-color: green;
    color: white;
    border-color: transparent;
    padding: 3px;
}

body .controls button:hover{
    cursor: pointer;
}

body .container h3{
    top: 20px;
}

body .container h4{
    top: 30px;
}


body .container #sure{
    top: 40px;
}

body aside{
    float: left;
    background-color: #3C3D37;
    height: 150vh;
    width: 17%;
    color: white;
}


body aside .asideContainer{
    top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

/* RESPONSIVE */

@media(max-width: 500px){ /* Siteye bağlanan cihazın genişliği 500px veya altında ise.*/
    body .container,aside{
        display: none;
    }

    body #warning{
        display: block;
    }
}